
@model IEnumerable<Pie>

<h1>Search</h1>

<form asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="List">Back to Full List</a>
        </p>
    </div>
</form>
@if (Model != null)
{
    <div class="row">
        <div class="col">
            @foreach (var pie in Model)
            {
                <partial name="_PieCard" model="pie" />
            }
        </div>

    </div>
}
